page-international-faculty{
 .bg{
    background-color:#FFFAF0;
 } 

 .ifac{      
     margin-bottom: 10px;
     color: teal;
     background-color:white;
 }

 .doc-pic{
     img{
        max-width: 150px;
     }     
 }  
}