page-news-item {
    .bg{
        background-color:#FFFAF0;
        color: teal;

        h2{
            text-align:center;
        }

        .content{
            margin-top:10px;
        }
    }
}
