page-home {

	.cover-img {
		width: 100%;
		margin-bottom: 5rem;
		img {
			width: 100%;
		}
	}

	.c-button {
		font-size: 130%;
		color: color($colors, light);

		ion-icon {
			font-size: 100px;
		}

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
