page-sponsors {

    #map_canvas{
        height: 105%;
        margin-top:-5px;
    }

    #map_canvas2{
        height: 105%;
        margin-top:-5px;
    }

    .bg{
        background-color:#FFFAF0;
    }

    .maurya{
        padding: 10px;
        background-color: teal;
        color:white;
        text-align: center;
        border-bottom: 1px solid white;

        h4{
            text-decoration: underline;
            padding-bottom: 5px;
        }
    }

    .divider{
        border-right: 1px solid white;
    }

}
