page-daily-program{

    .bg{
        background-color:#FFFAF0;
    }

    .slider{
        padding: 0;
        margin-top:0px;   
    }

    table{
        td{
            // padding: -10px;
            font-size: 7px;
        }
    }

    @media(max-width:320px){
        .slider{
            margin-top: -70px;
        }
        table{
            td{
                padding: 1px;
                font-size: 12px;
            }
        }
    }
}
