page-attendees {

    .bg{
        padding-left: -10px;
        background-color:#FFFAF0;
    }

    .the-grid{
        color:white;
        background-color: teal;
    }

    .doc-list{
        font-size: 10px;
        border-bottom:1px solid teal;
    }

}
