page-conference-highlights {
    .page{
        background-color:#FFFAF0;
    }
    .highlight{
        color: teal;
        font-size: 18px;
    }
    .cover-img {
		width: 100%;
		margin-bottom: 2rem;
		img {
			width: 100%;
			height: 150px;
		}
    }
    .sponsor-logo{
		height: 75px;
	}
}
