page-program-glance{

    .bg{
        background-color:#FFFAF0;
    }

    .slider{
        padding: 0;
        margin-top:-75px;        
    }

    .sub-slider{

    }

    table{
        td{
            padding: 1px;
            font-size: 16px;
        }
    }
}
